<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sjeong.pick">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        # 키보드 올라올 때 화면 사이즈를 바꾸지 않고 자름 | 자동으로 키보드 올라오는것 방지
        <activity android:name=".ItemActivity"
            android:theme="@style/ActionBarTheme"/>
        <activity android:name=".MyActivity" />
        <activity android:name=".TargetActivity" />
        <activity android:name=".TargetSettingActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity
            android:name=".FAQActivity"
            android:theme="@style/ActionBarTheme" />
        <activity android:name=".PersonalSettingActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".SearchSettingActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".FindInfoActivity" />
        <activity
            android:name=".GoalActivity"
            android:theme="@style/ActionBarTheme" />
        <activity android:name=".SearchDepActivity"></activity>
        <activity android:name=".SavingSearchActivity"/>
    </application>

</manifest>